{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../public/style/style.css" /> 
{% endblock %}
<div class="navbar">
    <ul class="nav">
        <a href={{ url('index') }}>Home </a>
        <a href={{ url('yatzy') }} >Yatzy </a>
        <a href={{ url('highscore') }} >Highscore</a>
    </ul>
</div>
