{% include 'incl/header.html.twig' %}
<div class="container main-content">
    <div class="row">
        <h1 class="title"> Historik </h1>
        <div class="infoText">
            <p class="lead"> H채r i denna graf kan man se vilka t채rningar
            som 채r vanligast att sl책 </p>
            <p> Vart slag sparas i en tabell och visas sedan i grafen nedan.</p>
        </div>
    </div>
    <div class="histogram">
        <table class="charts-css column show-labels">
            <thead>
                <tr>
                    <th scope="col"> Year </th>
                    <th scope="col"> Progress </th>
                </tr>
            </thead>
            <tbody>
                {% for hist in history %}
                <tr>
                    <th scope="row"> {{ hist.dice }} </th>
                    <td style="--size:{{ hist.nmbr / 100 }};"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'incl/footer.html.twig' %}