{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../public/style/style.css" /> 
    <link rel="stylesheet" href="https://unpkg.com/charts.css/dist/charts.min.css">
{% endblock %}
{% include 'incl/header.html.twig' %}
<body>
<div class="histogram">
<table id="column-example-20" class="charts-css column show-labels">
    <caption> Column Example #20 </caption> 
    <thead><tr>
        <th scope="col"> Year </th>
        <th scope="col"> Progress </th>
        </tr></thead>
        <tbody>
        {% for hist in history %}
        <tr>
            <th scope="row"> {{ hist.dice }} </th>
            <td style="--size:{{ hist.nmbr / 100 }};"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="infoText">
    <p> H채r i denna graf kan man se vilka t채rningar <br>
    som 채r vanligast att sl책 </p>
</div>
</body>
{% include 'incl/footer.html.twig' %}